* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 10%;
  text-align: center;
}

.issue {
  border: 2px solid black;
  padding: 10px;
  width: 65%;
  margin: 10px auto;
}

.issue .small-text {
  font-size: 10.5px;
}

.issue .clickable {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.homepage .tech {
  margin-top: 15px;
}

.homepage .tech ul li {
  margin: 5px 0;
}

.closed {
  background-color: lightgrey;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 15px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}
